body {
  margin-top:0em;
}

.container {
  max-width: 1200px;
}

header {
  margin-top: 6rem;
  text-align: center;
  top:0;
  width:100%;
  z-index:2;
}


a:hover {
  color:#581746;
  text-decoration: none;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

section {
  display:none;
  top:0;
  width:100%;
  z-index:1;
  padding-bottom:100px;
}



.navbar {
    text-align:center;
    width: 100%;
    margin-bottom:2em;
    border-bottom: 1px solid #eee;
    height:3em;
    padding-top:1em;
}
.navbar ul {
    display:inline-block;
    list-style:none;
}
.navbar li {
    float:left;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-decoration: none;
    color: #222;
}
.navbar a {
  text-decoration: none;
  color: inherit;
}
.navbar li + li {
    margin-left:20px;
}

.bold {
  font-weight:bold;
}

.nav-spacer {
  width:5em;
}



.title {
  text-align:center;
  font-weight:300;
  font-size: min(8vw, 74px);
}

.plain-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}


.article {
  min-height:100px;
  font-weight:bold;
  /*color:#fff;*/
  font-size:1.8rem;
  background: rgba(255,255,255,0.9);
  padding:1em;
}

.article-image {
  min-height:100px;
  height:100%;
  background-size:cover;
  background-position:center;
}

/* Apply rules to each article-row except the first */
.article-row + .article-row {
  margin-top:1em;
}

.work-block {
  margin-top:100px;
}

#hero img {
  width:100%;
  margin:0;
}

/* This styles the contact page table */
table, tr {
  width:1%;
  border:0;
  margin:auto;
}

td {
  width:50%;
  border:0;
  font-size:1.4em;
}

td:first-child {
  text-align:right;
}

.photo-credit {
  margin-top:0;
  font-size:.8em;
  float:right;
  opacity:.4;
}

/*
#slides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

#slides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

#slides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

#slides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}



.slides_tabs {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 90%;
  padding: 0;
  margin: 0 5%;
  text-align:center;
}
.slides_tabs li {
  display: block;
  flex: 0 1 auto;
  list-style-type: none;
  background: #fafafa;
}
.slides_tabs li a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.slides_nav {
  width:100%;
  height:200px;
  background-color:#ccc;
}

.slides_nav .next {
  float:right;
}
*/


li {
  list-style-type: none;
}





.rslides {
  margin: 0 auto;
  }

.rslides_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  }

.centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../img/arrows.gif") no-repeat left top;
  margin-top: -45px;
  }

.centered-btns_nav:active {
  opacity: 1.0;
  }

.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

.transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: #fff; /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }

.transparent-btns_nav.next {
  left: auto;
  right: 0;
  }

.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("../img/arrows.gif") no-repeat left 50%;
  width: 38px;
  }

.large-btns_nav:active {
  opacity: 1.0;
  }

.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
  }

.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
  outline: none;
  }

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  margin-top: 10px;
  text-align: center;
  }

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }

.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }
