body {
  margin-top:2em;
}

.container {
  max-width: 1200px; }
header {
  margin-top: 6rem;
  text-align: center; }



.navbar {
    text-align:center;
    width: 100%;
    margin-bottom:2em;
    border-bottom: 1px solid #eee;
    height:3em;
    padding-top:1em;
    background-color:#fff;
}
.navbar ul {
    display:inline-block;
    list-style:none;
}
.navbar li {
    float:left;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-decoration: none;
    color: #222;
}
.navbar a {
  text-decoration: none;
  color: inherit;
}
.navbar li + li {
    margin-left:20px;
}

.bold {
  font-weight:bold;
}

.nav-spacer {
  width:5em;
}



.title {
  text-align:center;
}

.plain-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  color:#581746;
}

section {
  display:none;
  margin-top:6rem;
}

.article {
  min-height:100px;
  font-weight:bold;
  /*color:#fff;*/
  font-size:1.8rem;
  background: rgba(255,255,255,0.9);
  padding:1em;
}

.article-image {
  min-height:100px;
  height:100%;
  background-size:cover;
  background-position:center;
}

.work-block {
  margin-top:100px;
}

#hero img {
  width:100%;
  margin:0;
}

/* This styles the contact page table */
table, tr {
  width:1%;
  border:0;
  margin:auto;
}

td {
  width:50%;
  border:0;
  font-size:1.5em;
}

td:first-child {
  text-align:right;
}

.photo-credit {
  margin-top:0;
  font-size:.8em;
  float:right;
  opacity:.4;
}



/* Larger than mobile */
@media (min-width: 400px) {
  body{
    background-color:#33cc33;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  body{
    background-color:#66ff66;
  }

}

/* Larger than tablet */
/* little tight */
@media (min-width: 750px) {
  body{
    background-color:#99ff99;
  }

}

/* Larger than desktop */
@media (min-width: 1000px) {
  body{
    background-color:#ccffcc;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  body{
    background-color:#fff;
  }
}